<!--
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	&lt;!&ndash;<meta http-equiv="X-UA-Compatible" content="IE=edge" />&ndash;&gt;

	<meta name="renderer" content="webkit">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DEMO</title>
	<link rel="stylesheet" type="text/css" href="../css/css.css" />
	<link href="../Content/bootstrap.min.css" rel="stylesheet" />
	<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
	<link href="../Content/jquery.validate.css" rel="stylesheet" />
	&lt;!&ndash;[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]&ndash;&gt;

	&lt;!&ndash;	<APPLET CODE = "HelloSwingApplet.class" archive="SSignedApplet.jar"   WIDTH = 400 HEIGHT = 50 >
            <PARAM NAME = "REPORT_URL"  VALUE ="servlets/jasperprint">
        </APPLET>&ndash;&gt;

	<script src="../js/jquery-3.2.0.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

	&lt;!&ndash;日期控件 js和css &ndash;&gt;
	<link type="text/css" rel="stylesheet" href="../css/jedate.css" />
	<script type="text/javascript" src="../js/jquery.jedate.min.js"></script>

	<link rel="stylesheet" href="../css/iconfont.css" />

	<link rel="stylesheet" href="../css/bootstrap-table.css" />
	<script src="../js/bootstrap-table.js"></script>
	&lt;!&ndash; 汉化文件，放在 bootstrap-table.js 后面 &ndash;&gt;
	<script src="../js/bootstrap-table-zh-CN.js"></script>
	<script src="../js/bootstrap-table-export.js"></script>

	<link rel='stylesheet'   href='../css/pagination.css'/>
	<script type='text/javascript'   src='../js/jquery.pagination.js' ></script>

	&lt;!&ndash;ztree的css、js &ndash;&gt;
	<link rel="stylesheet" href="../css/demo.css" type="text/css" />
	<link rel="stylesheet" href="../css/zTreeStyle/zTreeStyle.css" type="text/css" />
	<script type="text/javascript" src="../js/jquery.ztree.core.js"></script>

	&lt;!&ndash; 引入vue.js &ndash;&gt;
	<script type='text/javascript'   src='../js/vue.min.js' ></script>

	&lt;!&ndash;封装的方法&ndash;&gt;
	<script src="../js/until.sdk.format.js"></script>
	&lt;!&ndash;封装的样式&ndash;&gt;
	<link rel='stylesheet'   href='../css/table.height.css'/>


	&lt;!&ndash;图片预览的js和css&ndash;&gt;
	<link rel="stylesheet" href="../css/dist/photoswipe.css" />
	<link rel="stylesheet" href="../css/dist/default-skin.css" />
	<link rel="stylesheet" href="../css/dist/site.css" />
	<script src="../js/dist/photoswipe.min.js"></script>
	<script src="../js/dist/photoswipe-ui-default.min.js"></script>



	<style>
		.fixed-table-body {height: 290px;}
		.fixed-table-pagination{margin-top: 288px;}
		.hideQuery{margin-top:1%;display: none;}
		.menu_ul ul li {
			height: 20px;
			line-height: 20px;
			width: 0px;
			position: relative;
		}
		.fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
			margin-top: 0px;
			margin-bottom: 3px;
		}
		.butClass {padding: 6px 10px;margin-left: 2% !important;width: 115px;}
		body,td,th {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;}

		.creatZtree_1 {width: 100% !important;height:100% !important;border: none !important;overflow: auto !important;background:none !important;} /*//!important*/

		.font::-webkit-scrollbar{width:5px;}
		.font::-webkit-scrollbar-thumb{background-color:#D4D0C8;}

	</style>

</head>
<body  style="width:100%;height:100%;">

<div id="mainframe2" style="height:100%;" class="font"  >


	<div class="sumbody" id="app" style="overflow: scroll;">
		<table id="tbMain" width="100%" style="height:99%" border="0"  cellpadding="0" cellspacing="0">
			<tr>
				<td style="vertical-align: top;width: 350px;" height="99%" >
					<div class="mune_left font" style="width: 400px;background-color: white;overflow-y: scroll;overflow-x:hidden;">

						<div class="tableDiv">

							<div id="toolbar" class="btn-group">
								<div  style="margin-top:1.6%;" >
									<div style="float: left;width:398px;">
										<div class="myLabel-content queryLeft" style="width: 70px;">报告日期：</div>
										<div class="myText-content" style="float: left;">
											<input id="c_a_date1"  type="text" class="style_01" style="width:135px;">
											<span class="zhi">~</span>
											<input id="c_a_date2"   type="text" class="style_01" style="width:135px;">
										</div>
										<div style="clear: both;"></div>
										<div class="hideQuery">
											<div class="myLabel-content queryLeft" style="width: 70px;">姓
												&nbsp;&nbsp;&nbsp;&nbsp; 名：</div>
											<div class="myText-content" style="float: left;width: 115px;">
												<input id="p_name"  type="text"  class="style_01"  style="width: 113px;" >
											</div>
											<div class="myLabel-content queryLeft"  style="width: 70px;text-align: right;">条码号：</div>
											<div class="myText-content" style="float: left;width: 115px;">
												<input id="c_barcode" stype="text" class="style_01"  style="width: 113px;">
											</div>
										</div>
										<div style="clear: both;"></div>
										<div class="hideQuery">
											<div class="myLabel-content queryLeft" style="width: 70px;text-align: right;">打印状态：</div>
											<div class="myText-content" style="float: left;width: 115px;">
												<select id="c_rpt_flag" class="style_02" >
													<option value="">请选择</option>
													<option value="1">未打印</option>
													<option value="2">已打印</option>
												</select>
											</div>

											<div class="myLabel-content queryLeft" style="width: 70px;text-align: right;">项&nbsp;&nbsp;&nbsp;目：</div>
											<div class="myText-content" style="float: left;width: 115px;">
												<select id="c_combine_code" class="style_02" >
													<option value="">请选择</option>
													<option v-for="c in listCombine" :value="c.c_code" >{{c.c_code}}</option>
												</select>
											</div>

											<div style="clear: both;"></div>
											<div  class="hideQuery">
												<div class="myLabel-content queryLeft" style="width: 70px;">送检单位:&nbsp;&nbsp;</div>
												<div class="myText-content" style="float: left;width: 120px;">
													<div class="dropdown" style="display: inline-block;">
														<button class="btn btn-default dropdown-toggle" style="width: 305px;text-align: left;height: 24px;padding: 0 3px;" type="button" id="c_hospital" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															请选择
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="max-height: 400px">
															<li data-stopPropagation="true">
																<div class="zTreeDemoBackground" >
																	<ul id="treeDemo" class="ztree creatZtree_1" ></ul>
																</div>
															</li>
														</ul>
													</div>

												</div>
											</div>

										</div>
									</div>
								</div>

								<div>
									<div style="float: left;margin-top: 5px;">
										<button style="background-color: #3c8dbc;" class="btn btn-default butClass" id="btn_search"  onclick="query()" >
											<span class="glyphicon glyphicon-search" style="color:white"></span>
											<span style="color: white;">查询</span>
										</button>
										<button style="background-color: #3c8dbc;"  class="btn btn-default butClass" onclick="batchPrint()" id="batchPrint" >
											<span class="glyphicon glyphicon-print" style="color: white;"></span>
											<span style="color: white;">打印</span>
										</button>
										<button style="background-color: #3c8dbc;"  class="btn btn-default butClass" id="btn_ret" onclick="reset()" >
											<span class="glyphicon glyphicon-refresh" style="color: white;"></span>
											<span style="color: white;">重置</span>
										</button>
									</div>

									<div style="float: left;margin-top: 5px;margin-left: -352px;margin-top: 49px;margin-bottom: -50px;">
										<button  class="btn btn-default butClass" id="batchDownLoad" >
											<span class="glyphicon glyphicon-cloud-download"></span> 下载
										</button>
										<span style="width: 0.1px;display: inline-block">&nbsp;</span>
										<button  class="btn btn-default butClass"  onclick="showQuery()">
											<span class="glyphicon glyphicon-zoom-in"></span> 高级查询
										</button>
									</div>
								</div>

							</div>

							<table  class="table table-striped" id="table"  style="overflow: scroll;"></table>
						</div>

						&lt;!&ndash;<div  style="overflow: scroll;margin-top: 50px;">
							<img id="img1" width="90%" style="margin-left: 5%;" />
						</div>&ndash;&gt;

					</div>
				</td>

			</tr>
		</table>


	</div>

	<article class="htmleaf-container">
		<div class="row">
			<div id="demo-test-gallery" class="demo-gallery">
				&lt;!&ndash;<a href="" data-size="1600x1067" id="imgA5" style="display:none;"
				   data-med="" data-med-size="1024x683" data-author="Thomas Lefebvre">
					<img src="" id="A5" width="90%" style="margin-left: 5%;"  />
				</a>&ndash;&gt;

				<a href="" data-size="" id="imgA4" style="display:none;"
				   data-med="" data-med-size="" data-author="Thomas Lefebvre">
					<img src="" id="A4" width="90%" style="margin-left: 5%;"  />
				</a>

				&lt;!&ndash;<a href="../../img/images/15008465772_d50c8f0531_h.jpg" data-size="1600x1067"
                   data-med="../../img/images/15008465772_d50c8f0531_h.jpg" data-med-size="1024x683" data-author="Thomas Lefebvre">
                    <img src="../../img/images/15008465772_383e697089_m.jpg" id="img1" width="90%" style="margin-left: 5%;" />
                </a>&ndash;&gt;
			</div>
		</div>

		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<div class="pswp__bg"></div>

			<div class="pswp__scroll-wrap">

				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui&#45;&#45;hidden">

					<div class="pswp__top-bar">

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button&#45;&#45;close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button&#45;&#45;share" title="Share"></button>

						<button class="pswp__button pswp__button&#45;&#45;fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button&#45;&#45;zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal&#45;&#45;hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button&#45;&#45;arrow&#45;&#45;left" title="Previous (arrow left)">
					</button>

					<button class="pswp__button pswp__button&#45;&#45;arrow&#45;&#45;right" title="Next (arrow right)">
					</button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
	</article>

</div>


</body>

<script>


    var map={
        listCombine:[],
        listHospital:[]
    };

    new Vue({
        el: '#app',
        data: map
    });


    //以下是zTree的js代码
    /*zTree   start */
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick:onClick,
            onAsyncSuccess: zTreeOnAsyncSuccess
        }
    };
    function onClick(e,treeId, treeNode){
        $("#c_hospital").attr("name",treeNode.id);
        $("#c_hospital").text(treeNode.name);
    }

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        alert(msg);
    }
    /*zTree   end */

    $("#c_hospital").click(function(){
        $.get("/organization/getByOwn",{},function(zNodes){
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            fillter(treeObj);//设置展开前三级
        })
    });

    function fillter(treeObj) {
        //获得树形图对象
        var nodeList = treeObj.getNodes();　　　　　　 //展开第一个根节点
        for(var i = 0; i < nodeList.length; i++) { //设置节点展开第二级节点
            treeObj.expandNode(nodeList[i], true, false, true);
            /*var nodespan = nodeList[i].children;
            for(var j = 0; j < nodespan.length; j++) { //设置节点展开第三级节点
                treeObj.expandNode(nodespan[j], true, false, true);
            }*/
        }
    }

    //bootstrap中常用到的下拉菜单dropdown-menu默认是当点击下拉菜单的任一位置就会关闭下拉菜单框了
    $("body").on('click','[data-stopPropagation]',function (e) {
        e.stopPropagation();
    });

    function batchPrint() {

        var allSelect = $("#table").bootstrapTable('getSelections');
        if (allSelect.length == 0) {
            windowPoint("请选择要打印的信息！");
        } else {
            var dpArray = [];
            var wcArray = [];
            var tsArray = [];
            var dpjyArray = [];

            $.each(allSelect, function (index, e) {
                var paper_size;
                $.each(map.listCombine,function(i,v){
                    if(e.c_combine_code==v.c_code){
                        paper_size = v.paper_size;
                    }
                });
                if (e.c_combine_code=="地贫") {
                    dpArray.push(e.c_id + ":" + e.c_combine_code+":"+paper_size);
                }
                if (e.c_combine_code=="无创") {
                    wcArray.push(e.c_id + ":" + e.c_combine_code+":"+paper_size);
                }
                if (e.c_combine_code=="唐筛") {
                    tsArray.push(e.c_id + ":" + e.c_combine_code+":"+paper_size);
                }
                if (e.c_combine_code=="地贫基因") {
                    dpjyArray.push(e.c_id + ":" + e.c_combine_code+":"+paper_size);
                }


            });

            var num =0;
            var str = "";
            if(dpArray.length > 0){
                num ++;
                str+= '{' +dpArray[0].split(":")[1] + '}';
            }
            if(wcArray.length > 0){
                num ++;
                str+='{' + wcArray[0].split(":")[1] + '}';
            }
            if(tsArray.length > 0){
                num ++;
                str+= '{' +tsArray[0].split(":")[1] + '}';
            }
            if(dpjyArray.length > 0){
                num ++;
                str+='{' + dpjyArray[0].split(":")[1] + '}';
            }

            windowPoint("将打开 "+str+num+" 个窗口");

            document.getElementsByClassName("ok")[0].addEventListener("click",function(event){
                var authorHospital = parent.window.authorHospital();
                if (dpArray.length > 0) {
                    window.open("/reportQuery/dpPrint?list=" + dpArray.toString()+"&authorHospital="+authorHospital);
                }
                if (wcArray.length > 0) {
                    window.open("/reportQuery/dpPrint?list=" + wcArray.toString()+"&authorHospital="+authorHospital);
                }
                if (tsArray.length > 0) {
                    window.open("/reportQuery/dpPrint?list=" + tsArray.toString()+"&authorHospital="+authorHospital);
                }
                if (dpjyArray.length > 0) {
                    window.open("/reportQuery/dpPrint?list=" + dpjyArray.toString()+"&authorHospital="+authorHospital);
                }
            },false);

        }
    }


    $("#batchDownLoad").click(function(){

        var allSelect= $("#table").bootstrapTable('getSelections');
        if(allSelect.length==0){
            windowPoint("请选择要下载的信息！");
        }else{
            var array = [];
            $.each(allSelect,function(index,e){
                array.push(e.c_id+":"+e.c_combine_code+":"+e.c_sid+":"+e.p_name);
            });
            var authorHospital = parent.window.authorHospital();
            window.open("/reportQuery/downLoadZipFile?list="+array.toString()+"&authorHospital="+authorHospital);

        }

    });


    var datagrid;
    var objDialog;
    $(function () {

        $.get("/applicationStatistics/getListHospital",{},function(data){
            map.listHospital=data;
        });

        //取回当前医院的部门
        $.get("/combine/getCombine",{},function(data){
            map.listCombine = data;//组别项目
        });

        var heights=window.innerHeight;
        //数据列表
        datagrid = $('#table');

        datagrid = datagrid.bootstrapTable({
            url: "/sendApplication/getApplication",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            height:heights-374,//高度调整
            search: false,//是否搜索
            pagination: true,//是否分页
            pageSize: 10,//单页记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 20, 50],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "right",//查询框对齐方式
            queryParamsType: "undefined",//查询参数组织方式
            sortOrder:"asc",
            showToggle:true,

            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParams: function getParams(params) {
                var temp = {
                    pageNumber: params.pageNumber,                         //页面大小
                    rowNumber: params.pageSize,    //页码
                    a_flag: "1",
                    c_a_date1: $("#c_a_date1").val(),
                    c_a_date2: $("#c_a_date2").val(),
                    p_name:    $("#p_name").val(),
                    c_barcode: $("#c_barcode").val(),
                    c_hospital:$("#c_hospital").attr("name"),
                    c_combine_code:  $("#c_combine_code").val(),
                    c_rpt_flag : $("#c_rpt_flag").val(),
                };
                return temp;
            },
            onClickRow: function (row, $element, field) {
                $($element).siblings().each(function(i,e){
                    $(e).css("background-color","");
                    $(e).css("color","black");
                });

                $($element).css("background-color","#98FB98");
                $($element).css("color","black");

                var c_id = row.c_id;
                var c_code = row.c_combine_code;
                var authorHospital = parent.window.authorHospital();

                var paper_size;
                $.each(map.listCombine,function(i,v){
                    if(row.c_combine_code==v.c_code){
                        paper_size = v.paper_size;
                    }
                });

                if('A4'==paper_size){
                    $("#imgA4").attr("data-med","1067x1600");
                    $("#imgA4").attr("data-med-size","683x1024");
                }
                if('A5'==paper_size){
                    $("#imgA4").attr("data-med","1600x1067");
                    $("#imgA4").attr("data-med-size","1024x683");
                }

                $("#imgA4").attr("href","/message/printReport?c_id="+c_id+"&c_code="+c_code+"&authorHospital="+authorHospital);
                $("#imgA4").attr("data-med","/message/printReport?c_id="+c_id+"&c_code="+c_code+"&authorHospital="+authorHospital);

                $("#A4").attr("src","/message/printReport?c_id="+c_id+"&c_code="+c_code+"&authorHospital="+authorHospital);
                $("#A4").click();


            },
            onCheck:function(row, $element, field){

            },
            exportOptions:{
                ignoreColumn: [0,1],  //忽略某一列的索引
                fileName: '设施台帐报表',  //文件名称设置
                worksheetName: 'sheet1',  //表格工作区名称
                tableName: '设施台帐报表',
                excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: true,//刷新按钮
            showColumns: true,//列选择按钮
            showExport: false,    //是否显示导出
            exportDataType: "selected",//basic', 'all', 'selected'.
            buttonsAlign: "right",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "left",//工具栏对齐方式/
            columns: [
                {
                    title: "全选",
                    field: "select",
                    checkbox: true,
                    align: "center",//水平
                    valign: "middle",//垂直
                    width:  20
                },
                {
                    title: '编号',
                    field: "编号",
                    align: "center",//水平
                    width:  20,
                    valign: "middle",
                    formatter: function (value, row, index) {
                        //return index+1; //序号正序排序从1开始
                        var pageSize=$('#table').bootstrapTable('getOptions').pageSize;//通过表的#id 可以得到每页多少条
                        var pageNumber=$('#table').bootstrapTable('getOptions').pageNumber;//通过表的#id 可以得到当前第几页
                        return pageSize * (pageNumber - 1) + index + 1;    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                        //$('#table').bootstrapTable("getOptions"); //返回各项的object
                    }
                },
                {
                    title: "条码号",
                    field: "c_barcode",
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true,
                    width:  30
                },
                {
                    title: "样本编号",
                    field: "c_sid",
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true,
                    width:  35
                },
                {
                    title: "姓名",
                    field: "p_name",
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true
                },
                {
                    title: "项目",
                    field: "c_combine_code",//域值
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true
                },
                {
                    field: "c_rpt_flag",
                    title: "打印",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                    formatter: function(value,row,index){

                        if(row.c_rpt_flag=='2'){
                            return '<span class="hasPrint" style="'+'color: red'+'" >已打印</span>';
                        }if(row.c_rpt_flag=='1'){
                            return '<span class="'+'noPrint" '+' >未打印</span>';
                        }/*else{
                            return '<span class="'+'noPrint" '+' >未打印</span>';
                        }*/

                    }
                },
                {
                    title: "病历号",
                    field: "c_in_no",
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true
                },
                {
                    title: "报告日期",
                    field: "c_a_date",
                    sortable: true,//是否可排序
                    align: "center",//水平
                    visible:true,
                    formatter: function(value,row,index){
                        if(value!="" && value!=null){
                            return  value.substr(0,10);
                        }else{
                            return"-";
                        }
                    }
                },
                {
                    field: "p_bithday",
                    title: "出生日期",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                    formatter: function(value,row,index){
                        if(value!="" && value!=null){
                            return  value.substr(0,10);
                        }else{
                            return"-";
                        }
                    }
                },
                {
                    field: "c_weigh",
                    title: "体重",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true
                },
                {
                    field: "c_ts_bcdate",
                    title: "B超日期",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                    formatter: function(value,row,index){
                        if(value!="" && value!=null){
                            return  value.substr(0,10);
                        }else{
                            return"-";
                        }
                    }
                },
                {
                    field: "pregnancy",
                    title: "评估孕周",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true
                },
                {
                    field: "c_lmp_date",
                    title: "末次月经",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                    formatter: function(value,row,index){
                        if(value!="" && value!=null){
                            return  value.substr(0,10);
                        }else{
                            return"-";
                        }
                    }
                },
                {
                    field: "c_tes",
                    title: "胎儿数",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true
                },
                {
                    field: "c_sample_date",
                    title: "采样日期",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                    formatter: function(value,row,index){
                        if(value!="" && value!=null){
                            return  value.substr(0,10);
                        }else{
                            return"-";
                        }
                    }
                },
                {
                    field: "c_hospital",
                    title: "送检单位",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    titleTooltip: "母亲姓名",
                    visible:true
                },
                {
                    field: "c_dept",
                    title: "送检科室",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true
                },
                {
                    field: "c_doctor",
                    title: "送检医生",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true
                },
                {
                    field: "p_tel1",
                    title: "联系电话",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                },
                {
                    field: "p_tel2",
                    title: "联系电话2",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    titleTooltip: "检查项目",
                    visible:true
                },
                {
                    field: "c_w_name",
                    title: "检验者",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    visible:true,
                },
                {
                    field: "c_a_name",
                    title: "审核者",
                    sortable: true,
                    align: "center",//水平
                    valign: "middle",
                    titleTooltip: "检查项目",
                    visible:true
                }
            ]
        });

    });


    function showQuery(){
        if(  $(".hideQuery").css("display")=="none" ){
            $(".hideQuery").show();
        }else{
            $(".hideQuery").hide();
        }
    }

    //查询
    function query() {
        var oDate1 = new Date( $("#c_a_date1").val() );
        var oDate2 = new Date( $("#c_a_date2").val() );

        if(oDate1!="" && oDate2!="" ){
            if( oDate1.getTime() > oDate2.getTime() ){
                windowPoint("开始时间不能小于截止时间");
                return false;
            }
        }

        if($("#c_a_date1").val()!="" && $("#c_a_date2").val()=="" || $("#c_a_date1").val()=="" && $("#c_a_date2").val()!=""){
            alert("请同时输入开始时间和结束时间");
            windowPoint("开始时间不能小于截止时间");
            return false;
        }

        datagrid.bootstrapTable("refresh",{pageNumber:1});
    }

    //重置
    function reset(){
        $("#toolbar input").val("");
        $("#c_combine_code").val("");
        $("#c_rpt_flag").val("");
        $("#c_hospital").attr("name","");
        $("#c_hospital").text("请选择");

    }

    $("#c_a_date1,#c_a_date2").jeDate({
        skinCell:"jedateblue", //日期风格样式，默认蓝色
        isinitVal:false,
        //festival:true,
        ishmsVal:false,
        minDate:"1900-01-01 00:00:00",
        maxDate:"3000-12-31 23:59:59",
        format:"YYYY-MM-DD",
        zIndex:3000,
        choosefun:function (elem,val,date) {

        },
        okfun:function (elem,val,date) {

        }
    });

    $(function(){
        setTimeout(waitTime,100);
    });

    function  waitTime(){
        var array2 = [];
        $(".hasPrint").each(function(i,e){
            array2 = $(e).parent().siblings();
            $(array2).each(function(n,m){
                $(m).css("color","red");
            })
        })
    }


</script>




<script type="text/javascript">
/*图片预览 start*/
    (function() {
        var initPhotoSwipeFromDOM = function(gallerySelector) {
            var parseThumbnailElements = function(el) {
                var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    el,
                    childElements,
                    thumbnailEl,
                    size,
                    item;

                for(var i = 0; i < numNodes; i++) {
                    el = thumbElements[i];

                    // include only element nodes
                    if(el.nodeType !== 1) {
                        continue;
                    }

                    childElements = el.children;

                    size = el.getAttribute('data-size').split('x');

                    // create slide object
                    item = {
                        src: el.getAttribute('href'),
                        w: parseInt(size[0], 10),
                        h: parseInt(size[1], 10),
                        author: el.getAttribute('data-author')
                    };

                    item.el = el; // save link to element for getThumbBoundsFn

                    if(childElements.length > 0) {
                        item.msrc = childElements[0].getAttribute('src'); // thumbnail url
                        if(childElements.length > 1) {
                            item.title = childElements[1].innerHTML; // caption (contents of figure)
                        }
                    }


                    var mediumSrc = el.getAttribute('data-med');
                    if(mediumSrc) {
                        size = el.getAttribute('data-med-size').split('x');
                        // "medium-sized" image
                        item.m = {
                            src: mediumSrc,
                            w: parseInt(size[0], 10),
                            h: parseInt(size[1], 10)
                        };
                    }
                    // original image
                    item.o = {
                        src: item.src,
                        w: item.w,
                        h: item.h
                    };

                    items.push(item);
                }

                return items;
            };

            // find nearest parent element
            var closest = function closest(el, fn) {
                return el && ( fn(el) ? el : closest(el.parentNode, fn) );
            };

            var onThumbnailsClick = function(e) {
                e = e || window.event;
                e.preventDefault ? e.preventDefault() : e.returnValue = false;

                var eTarget = e.target || e.srcElement;

                var clickedListItem = closest(eTarget, function(el) {
                    return el.tagName === 'A';
                });

                if(!clickedListItem) {
                    return;
                }

                var clickedGallery = clickedListItem.parentNode;

                var childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;

                for (var i = 0; i < numChildNodes; i++) {
                    if(childNodes[i].nodeType !== 1) {
                        continue;
                    }

                    if(childNodes[i] === clickedListItem) {
                        index = nodeIndex;
                        break;
                    }
                    nodeIndex++;
                }

                if(index >= 0) {
                    openPhotoSwipe( index, clickedGallery );
                }
                return false;
            };

            var photoswipeParseHash = function() {
                var hash = window.location.hash.substring(1),
                    params = {};

                if(hash.length < 5) { // pid=1
                    return params;
                }

                var vars = hash.split('&');
                for (var i = 0; i < vars.length; i++) {
                    if(!vars[i]) {
                        continue;
                    }
                    var pair = vars[i].split('=');
                    if(pair.length < 2) {
                        continue;
                    }
                    params[pair[0]] = pair[1];
                }

                if(params.gid) {
                    params.gid = parseInt(params.gid, 10);
                }

                return params;
            };

            var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;

                items = parseThumbnailElements(galleryElement);

                // define options (if needed)
                options = {

                    galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                    getThumbBoundsFn: function(index) {
                        // See Options->getThumbBoundsFn section of docs for more info
                        var thumbnail = items[index].el.children[0],
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();

                        return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                    },

                    addCaptionHTMLFn: function(item, captionEl, isFake) {
                        if(!item.title) {
                            captionEl.children[0].innerText = '';
                            return false;
                        }
                        captionEl.children[0].innerHTML = item.title +  '<br/><small>Photo: ' + item.author + '</small>';
                        return true;
                    }

                };


                if(fromURL) {
                    if(options.galleryPIDs) {
                        // parse real index when custom PIDs are used
                        // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                        for(var j = 0; j < items.length; j++) {
                            if(items[j].pid == index) {
                                options.index = j;
                                break;
                            }
                        }
                    } else {
                        options.index = parseInt(index, 10) - 1;
                    }
                } else {
                    options.index = parseInt(index, 10);
                }

                // exit if index not found
                if( isNaN(options.index) ) {
                    return;
                }



                var radios = document.getElementsByName('gallery-style');
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        if(radios[i].id == 'radio-all-controls') {

                        } else if(radios[i].id == 'radio-minimal-black') {
                            options.mainClass = 'pswp&#45;&#45;minimal&#45;&#45;dark';
                            options.barsSize = {top:0,bottom:0};
                            options.captionEl = false;
                            options.fullscreenEl = false;
                            options.shareEl = false;
                            options.bgOpacity = 0.85;
                            options.tapToClose = true;
                            options.tapToToggleControls = false;
                        }
                        break;
                    }
                }

                if(disableAnimation) {
                    options.showAnimationDuration = 0;
                }

                // Pass data to PhotoSwipe and initialize it
                gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);

                // see: http://photoswipe.com/documentation/responsive-images.html
                var realViewportWidth,
                    useLargeImages = false,
                    firstResize = true,
                    imageSrcWillChange;

                gallery.listen('beforeResize', function() {

                    var dpiRatio = window.devicePixelRatio ? window.devicePixelRatio : 1;
                    dpiRatio = Math.min(dpiRatio, 2.5);
                    realViewportWidth = gallery.viewportSize.x * dpiRatio;


                    if(realViewportWidth >= 1200 || (!gallery.likelyTouchDevice && realViewportWidth > 800) || screen.width > 1200 ) {
                        if(!useLargeImages) {
                            useLargeImages = true;
                            imageSrcWillChange = true;
                        }

                    } else {
                        if(useLargeImages) {
                            useLargeImages = false;
                            imageSrcWillChange = true;
                        }
                    }

                    if(imageSrcWillChange && !firstResize) {
                        gallery.invalidateCurrItems();
                    }

                    if(firstResize) {
                        firstResize = false;
                    }

                    imageSrcWillChange = false;

                });

                gallery.listen('gettingData', function(index, item) {
                    if( useLargeImages ) {
                        item.src = item.o.src;
                        item.w = item.o.w;
                        item.h = item.o.h;
                    } else {
                        item.src = item.m.src;
                        item.w = item.m.w;
                        item.h = item.m.h;
                    }
                });

                gallery.init();
            };

            // select all gallery elements
            var galleryElements = document.querySelectorAll( gallerySelector );
            for(var i = 0, l = galleryElements.length; i < l; i++) {
                galleryElements[i].setAttribute('data-pswp-uid', i+1);
                galleryElements[i].onclick = onThumbnailsClick;
            }

            // Parse URL and open gallery if it contains #&pid=3&gid=1
            var hashData = photoswipeParseHash();
            if(hashData.pid && hashData.gid) {
                openPhotoSwipe( hashData.pid,  galleryElements[ hashData.gid - 1 ], true, true );
            }
        };

        initPhotoSwipeFromDOM('.demo-gallery');

    })();

/*图片预览 end*/
</script>




</html>
-->
