<!--
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	&lt;!&ndash;<meta http-equiv="X-UA-Compatible" content="IE=edge" />&ndash;&gt;

	<meta name="renderer" content="webkit">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DEMO</title>
	<link rel="stylesheet" type="text/css" href="../css/css.css" />
	<link href="../Content/bootstrap.min.css" rel="stylesheet" />
	<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
	<link href="../Content/jquery.validate.css" rel="stylesheet" />
	&lt;!&ndash;[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]&ndash;&gt;

	&lt;!&ndash;	<APPLET CODE = "HelloSwingApplet.class" archive="SSignedApplet.jar"   WIDTH = 400 HEIGHT = 50 >
            <PARAM NAME = "REPORT_URL"  VALUE ="servlets/jasperprint">
        </APPLET>&ndash;&gt;

	<script src="../js/jquery-3.2.0.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="../js/echarts/echarts.js"></script>

	<style>
		html, body, #main {
			width: 100%;
			height: 100%;
		}
	</style>

</head>
<body>

    &lt;!&ndash; 为 ECharts 准备一个具备大小（宽高）的 DOM &ndash;&gt;
    &lt;!&ndash;<div id="main" style="width: 600px;height:400px;"></div>&ndash;&gt;
	<div id="main"></div>
</body>

&lt;!&ndash;<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>&ndash;&gt;

<script type="text/javascript" src="../js/echarts/ecStat/ecStat.js"></script>
<script src="../js/echarts/ecStat/esl.js"></script>
&lt;!&ndash;<script src="../js/echarts/ecStat/config.js"></script>&ndash;&gt;

<script>
    require([
        'echarts',
        'ecStat',
        'echarts/chart/scatter',
        'echarts/chart/line',
        'echarts/component/legend',
        'echarts/component/grid',
        'echarts/component/tooltip',
        'echarts/component/markPoint',
        'echarts/component/title'
    ], function (echarts, ecStat) {

        var chart = echarts.init(document.getElementById('main'));

        var data = [
            [96.24, 11.35],
            [33.09, 85.11],
            [57.60, 36.61],
            [36.77, 27.26],
            [20.10, 6.72],
            [45.53, 36.37],
            [110.07, 80.13],
            [72.05, 20.88],
            [39.82, 37.15],
            [48.05, 70.50],
            [0.85, 2.57],
            [51.66, 63.70],
            [61.07, 127.13],
            [64.54, 33.59],
            [35.50, 25.01],
            [226.55, 664.02],
            [188.60, 175.31],
            [81.31, 108.68]
        ];

        var myRegression = ecStat.regression('polynomial', data, 3);

        myRegression.points.sort(function (a, b) {
            return a[0] - b[0];
        });

        chart.setOption({

            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            title: {
                text: '18 家公司的净利润和主营业务收入（百万元）',
                left: 'center',
                top: 16
            },
            xAxis: {
                type: 'value',
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
                splitNumber: 20
            },
            yAxis: {
                type: 'value',
                min: -40,
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                }
            },
            series: [{
                name: 'scatter',
                type: 'scatter',
                label: {
                    emphasis: {
                        show: true
                    }
                },
                data: data
            },{
                name: 'line',
                type: 'line',
                smooth: true,
                showSymbol: false,
                data: myRegression.points,
                markPoint: {
                    itemStyle: {
                        normal: {
                            color: 'transparent'
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'left',
                            formatter: myRegression.expression,
                            textStyle: {
                                color: '#333',
                                fontSize: 14
                            }
                        }
                    },
                    data: [{
                        coord: myRegression.points[myRegression.points.length - 1]
                    }]
                }
            }]
        });
    });
</script>


</html>
-->
