<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->

	<meta name="renderer" content="webkit">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DEMO</title>
	<link rel="stylesheet" type="text/css" href="../css/css.css" />
	<link href="../Content/bootstrap.min.css" rel="stylesheet" />
	<link href="../Content/jquery.fileupload.css" rel="stylesheet" />
	<link href="../Content/jquery.validate.css" rel="stylesheet" />
	<!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--	<APPLET CODE = "HelloSwingApplet.class" archive="SSignedApplet.jar"   WIDTH = 400 HEIGHT = 50 >
            <PARAM NAME = "REPORT_URL"  VALUE ="servlets/jasperprint">
        </APPLET>-->

	<script src="../js/jquery-3.2.0.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="../js/echarts/echarts.js"></script>


	<style>


	</style>

</head>
<body>

    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>

</body>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script>
    var map={
        listCombine:[],
        listHospital:[]
    };
    new Vue({
        el: '#app',
        data: map
    });
</script>


</html>
